{
  "bootstrap-sha": "{{RAN_BASE_SHA}}",
  "packages": {
    ".": {
      "release-type": "simple",
      "package-name": "{{RAN_PACKAGE_SLUG}}",
      "changelog-path": "CHANGELOG.md",
      "include-component-in-tag": false,
      "include-v-in-tag": true,
      "extra-files": {{RAN_EXTRA_FILES_JSON}}
    }
  }
}
